.test-1 { color: red; }
.test-2 { color: blue; }
.test-3 { color: green; }
.test-4 { color: blueviolet; }
.test-5 { color: chocolate; }
.test-6 { color: cadetblue; }
.test-7 { color: slategrey; }
.test-8 { color: darkorchid; }
.test-9 { color: forestgreen; }
.test-0 { color: goldenrod; }
