body { text-align: center; }
p { font-size: 0.8em; }

.form-control {
  height: 7em;
  word-wrap: break-word;
}
  .link--westlaw {}
    .link--westlaw__title { color: #fc8c1e; }
  .link--lexis {}
    .link--lexis__title { color: #dd2108; }
  .link--google-scholar {}
    .link--google-scholar__title { color: #009f5a; }
  .link--google {}
    .link--google__title { color: #3f83f1; }
  .link--ravel {}
    .link--ravel__title { color: #5b78bb; }
.primary-title {
  margin-top: 1em;
  margin-bottom: 1em;
}
