body { text-align: center; }
p { font-size: 0.8em; }
h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.form-control {
  height: 7em;
  word-wrap: break-word;
}
  .link { width: 100%; }
    .link > a:hover { background-color: #fafafa; }

    .link--westlaw__title { color: #fc8c1e; }
    .link--lexis__title { color: #dd2108; }
    .link--google-scholar__title { color: #009f5a; }
    .link--google__title { color: #3f83f1; }
    .link--ravel__title { color: #5b78bb; }
.primary-title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3.3em;
  font-family: 'Century Schoolbook' serif;
}

.source-list__title { margin-bottom: 1em; }
  .source-list--subscription__title { margin-top: 1em; }

.reconfirm-autoforward__btn {
  margin: 0 1em;
}

.autoforward__btn {
  background-color: #ddd;
}

/* Using the id is a specificity hack to set the initial state of a conditionally- */
/* revealed element */
#reconfirm-expired-autoforward { display: none; }
